name: CI Pipeline MLOps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        pip install mlflow==2.19.0 dagshub scikit-learn pandas numpy matplotlib seaborn virtualenv

    - name: Run MLflow Project
      run: |
        # Ini perintah yang diminta reviewer:
        mlflow run . --env-manager=local --experiment-name Eksperimen_CI_Fara_New